<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness101 Calorie Tracker</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <div>
            <img src="" alt="Fitness 101 logo">
        </div>
        <div>
            <input type="text" placeholder="To find the nutritional value of your food simply type it's name here and enter">
            <button>Find Nutritional Value</button>
        </div>
    </header>

<main>
    <section>
    "" has a total of <span>Calories</span> 
    </section>

    <section>
        <h3>Nutritional Values</h3>
        <table>
            <tr><th>Serving Size per 100/Grams</th></tr>
            <tr><td>Carbohydrates_g:""</td></tr>
            <tr><td>Calories:""</td></tr>
            <tr><td>Fat_total_g:""</td></tr>
            <tr><td>Fat_saturated_g:""</td></tr>
            <tr><td>Protein_g:""</td></tr>
            <tr><td>Sodium_mg:""</td></tr>
            <tr><td>Potassium_mg:""</td></tr>
            <tr><td>Cholestrol_mg:""</td></tr>
        </table>
    </section>

    <section>
        <h3>
            To burn a "" calories you will have to 
        </h3>
    <div><p>
        <strong>Jog</strong> for approximately "" minutes
    </p></div>
    <div><p>
        <strong>Do power yoga</strong> for approximately "" minutes
    </p></div>
    <div><p>
        <strong>Do some resistance training</strong>for approximately "" minutes
    </p></div>
    <div><p>
        <strong>Walk briskly</strong> for approximately "" minutes
    </p></div>

    </section>

</main>

<footer>
    <p>2024 Fitness101 Calorie Tracker</p>
</footer>

</body>
</html>