<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness101 Calorie Tracker</title>
</head>
<body>
    <header>
        <div>
            <img src="" alt="Fitness 101 logo">
        </div>
        <div>
            <input type="text" placeholder="To find the nutritional value of your food simply type it's name here and enter">
            <button>Find Nutritional Value</button>
        </div>
    </header>

<main>
    <section>
    "" has a total of <span>Calories</span> 
    </section>

    <section>
        <h3>Nutritional Values</h3>
        <table>
            <tr><th>Serving Size per 100/Grams</th></tr>
            <tr><td>Calories:""</td></tr>
        </table>
    </section>
</main>

</body>
</html>