header {
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.search-container {
    width: 60%;
    display: inline-block;
    
}

.search-bar {
    width: 70%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
}