/* -----Header-----

header {
    padding: 40px 20px;
    text-align: center;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
}

.search-container {
    width: 60%;
    display: inline-block;
    
}

.search-bar {
    width: 70%;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
}

/*-----Results-----*/

/* .calorie-result {
    background: white;
    padding: 30px;
    margin: 20px;
    width: 80%;
    max-width: 600px;
    text-align: center;
    border-radius: 10px;

}

.calorie-result h2 span {
    color: #e74c3c;
}

.nutritional-values {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 70%;
    max-width: 500px;
    border-radius: 10px;
}

.nutritional-table {
    width: 100%;
    text-align: left;
}

/*-----Activities-----*/

/* .activities {
    background: #fffbea;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.activities .activity {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}  */ 

body {
    background-color: #f6fbf4;
  }
  
  .logo {
    width: 13em;
    height: 63px;
  }
  
  h1 {
    font-weight: 300;
  }
  
  h1 strong {
    font-weight: 600;
    color: #4b8673;
  }
  
  .inputstyle {
    padding: 20px !important;
  }
  
  .whoop {
    background-color: #5fd068;
    width: 8em;
    font-size: 30px !important;
    color: #ffffff;
  }
  
  .caloriescont {
    background-color: #ffffff;
    padding: 30px;
  }
  
  .caloriescont ul {
    padding: 0px;
  }
  
  .caloriescont ul li {
    list-style: none;
    margin-bottom: 20px;
    border-bottom: 1px solid #efefef;
    width: 80%;
  }
  
  .caloriescont h3 {
    color: #4b8673;
    font-size: 2em;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .caloriescont h5 {
    color: #4b8673;
  }
  
  .servingsize {
    background-color: #000000;
    padding: 10px;
    color: #ffffff;
  }